body {
    margin: 0;
    background-color: bisque;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #18363E;
}

h1 {
    padding-left: 15px;
    color: #93C4D1;
}

select {
    margin-right: 10px;
    height: 25px;
    width: 60px;
}

ul {
    list-style: none;
    display: inline-flex;
}

ul a {
    text-decoration: none;
    background-color: #18363E;
    color: #93C4D1;
    border-radius: 5px;
    margin: 0 5px;
}

li {
    width: 100px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

li:hover {
    background-color: #93C4D1;
    color: #18363E;
    border-radius: 5px;
}

.container {
    background-color: #93C4D1;
    position: absolute;
    z-index: 2;
    top: 130px;
    width: 100%;
    height: 814px;
}

.li-active {
    background-color: #93C4D1;
    color: #18363E;
    border-radius: 5px;
}